<!DOCTYPE HTML>
<html class="masthead">
    {% from "security/_macros.html" import render_field_with_errors, render_field %}
    {% include "security/_messages.html" %}
     <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <title>ChiCarto - Your Map to the City of Chicago </title>
        <link href="../static/bootstrap.css" rel="stylesheet">
        <link href="../static/main.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
        <style>
            body {
                background-color: rgba(0,0,0,0.9);
            }
        </style>
    </head>
    <body>
        <h1>Register</h1>
        <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
            {{ register_user_form.hidden_tag() }}
            {{ render_field_with_errors(register_user_form.email) }}
            {{ render_field_with_errors(register_user_form.password) }}
            {% if register_user_form.password_confirm %}
            {{ render_field_with_errors(register_user_form.password_confirm) }}
            {% endif %}
            {{ render_field(register_user_form.submit) }}
        </form>
        <footer class="footerlinks">
            {% include "security/_menu.html" %}
        </footer>
    </body>
</html>

