<html>
<head>
<title>ChiCarto</title>
<style>
#map { height: 80%; }
.logo {
  padding-top: 0px;
}
.footercta {
  padding-top: 0px;
}
.masthead {
  padding-top: 40px;
}
</style>
</head>
   <body>
   	<main id="top" class="masthead" role="main">
		<div class="container">
			<div class="logo"> <img src="../static/logo.png" alt="logo"></div>
	<div class="row">

<div class="header">
	<!--<div id="buttons">
		<center> <button type="submit" class="btn btn-success btn-lg">Browse all Searches </a></button> </center><center>
    	<center> <button type="submit" class="btn btn-success btn-lg">Login </a></button> </center>-->
    <center>
  <a class="btn btn-success btn-lg" href="/searches">Browse All Searches</a>
    {% if loggedIn %}
    	<a class="btn btn-success btn-lg" href="/me">My Account</a>
    	<a class="btn btn-success btn-lg" href="/create_search">Create Search</a>
    {% else %}
    	<a class="btn btn-success btn-lg" href="/login">Log In</a>
    	<a class="btn btn-success btn-lg" href="/register">Register</a>
    {% endif %}
  </center>
    </div>
    </div>
    <a name="map"></a> <!-- Anchor -->

    <br>
    <br>
    <center> <p style="font-size:250%;font-family:verdana;" id="searchName"></p> </center>


	    <! -- ******************** FOOTER ******************** -->
		<main class="footercta" role="main">


						<div id="map"></div>

				    <script type="text/javascript" src="static/mapping.js"></script>
				    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpx9SqTdBQ_V-vQo0H9RPTgbIn7g3MPso&callback=initMap"></script>


		</main><! --/main -->

		<div class="container">
			<section class="row breath">
				<div class="col-md-12 footerlinks">
					<!-- place any footer text we want -->
				</div>
			</section><! --/section -->
		</div><! --/container -->




<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/easing.js"></script>
<script src="js/nicescroll.js"></script>


<script>

      <script type="text/javascript" src="static/mapping.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpx9SqTdBQ_V-vQo0H9RPTgbIn7g3MPso&callback=initMap"></script>


 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
		 var $anchor = $(this);
		 $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
  });

   </body>
</html>
