<html>
<head>
<title>ChiCarto</title>
<style>
#map { height: 80%; }
</style>
</head>
   <body>
      <h1><center>Welcome to ChiCarto!</center></h1>

<div class="header">
    {% if loggedIn %}
    <center> <p> <a href="/me">My Account</a> </p> </center>
    <center> <p> <a href="/create_search">Create Search</a> </p> </center>
    {% else %}
    <center> <p> <a href="/login">Log In</a> </p> </center>
    <center> <p> <a href="/register">Register</a> </p> </center>
    {% endif %}
    </div>
  <div id="map"></div>

      <script type="text/javascript" src="static/mapping.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpx9SqTdBQ_V-vQo0H9RPTgbIn7g3MPso&callback=initMap"></script>

   </body>
</html>
