<!DOCTYPE HTML>
<html class="masthead">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <title>Browse All Searches</title>
        <link rel="stylesheet" type="text/css" href="static/table.css">
        <link href="../static/bootstrap.css" rel="stylesheet">
        <link href="../static/main.css" rel="stylesheet">
        <link href="../static/style.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
        <script src="static/table.js"></script>
        <style>
body {
    background-color: transparent;
}
        </style>
    </head>
    <body>
        <h1>All Searches</h1>
        <hr>
        <div class="table-responsive-vertical shadow-z-1">
            <table id="table" class="table table-hover table-striped table-mc-light-blue">
                <thead>
                    <tr>
                        <th><strong>Name</strong></th>
                        <th><strong>Sources</strong></th>
                        <th><strong>Rating</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% for search in searches %}
                    <tr>
                        <td data-title="Name"><a href="/?s={{ search.id }}#view"> {{ search.name }} </a></td>
                        <td data-title="Sources">{{ search.data_source_names() }}</td>
                        <td data-title="Rating">
                            {{ search.get_rating() }}
                            {% if search.id not in rated and loggedIn %}
                            <!-- code taken from https://codepen.io/jamesbarnett/pen/vlpkh -->
                            <div class ="searchcontainer" id="rate-{{ search.id }}">
                                <p>Rate The Search</p>
                                <script type="text/javascript" src="static/rate.js"></script>
                                <fieldset class="rating">
                                    <input type="radio" id="star5-{{ search.id }}" name="rating" value="5" /><label class = "full" for="star5-{{ search.id }}" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half-{{ search.id }}" name="rating" value="4.5" /><label class="half" for="star4half-{{ search.id }}" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4-{{ search.id }}" name="rating" value="4" /><label class = "full" for="star4-{{ search.id }}" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half-{{ search.id }}" name="rating" value="3.5" /><label class="half" for="star3half-{{ search.id }}" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3-{{ search.id }}" name="rating" value="3" /><label class = "full" for="star3-{{ search.id }}" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half-{{ search.id }}" name="rating" value="2.5" /><label class="half" for="star2half-{{ search.id }}" title="Not so good - 2.5 stars"></label>
                                    <input type="radio" id="star2-{{ search.id }}" name="rating" value="2" /><label class = "full" for="star2-{{ search.id }}" title="Not so good - 2 stars"></label>
                                    <input type="radio" id="star1half-{{ search.id }}" name="rating" value="1.5" /><label class="half" for="star1half-{{ search.id }}" title="Kinda bad - 1.5 stars"></label>
                                    <input type="radio" id="star1-{{ search.id }}" name="rating" value="1" /><label class = "full" for="star1-{{ search.id }}" title="Real bad - 1 star"></label>
                                    <input type="radio" id="starhalf-{{ search.id }}" name="rating" value="0.5" /><label class="half" for="starhalf-{{ search.id }}" title="Real real bad - 0.5 stars"></label>
                                </fieldset>
                                <button type="button" id="submit-{{ search.id }}" onclick="submitrating({{ search.id }})">Submit</button>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <div>
            <a class="btn btn-success btn-lg" href="/">Home</a>
        </div>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/easing.js"></script>
        <script src="js/nicescroll.js"></script>


        <script>
$(function() {
    $('.scrollto, .gototop').bind('click',function(event){
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500,'easeInOutExpo');
        event.preventDefault();
    });
});
        </script>
    </body>
</html>
