<html>
<head>
<title>Profile</title>
<style>
#delete {
  color: red;
}
</style>
</head>
   <body>
      <h1>Welcome!</h1>
      <p>You are logged in as {{ user.email }}</p>
      <h2>Searches:</h2>
      <div>
        {% for search in user.searches %}
          <li><a href="/?s={{ search.id }}"> {{ search }} </a></li>
        {% endfor %}
      </div>
      <hr>
      <div>
        <a href="/">Home</a>
      </div>
      <div>
        <a href="/logout">Logout</a>
      </div>
      <div>
        <a id="delete" href="/delete-account">Delete Account</a>
      </div>
   </body>
</html>
