<html>
<head>
<title>Profile</title>
<style>
#delete {
  color: red;
} 
div.searchcontainer {
background-color:white;
color:black;
margin:20px;
padding:20px;
} 
</style>
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
   <body>
      <h1>Welcome!</h1>
      <p>You are logged in as {{ user.email }}</p>
      <h2>Searches:</h2>
      <div>
        {% for search in user.searches %}
          <li><a href="/?s={{ search.id }}"> {{ search }} </a></li>
 <!-- code taken from https://codepen.io/jamesbarnett/pen/vlpkh -->
<div class ="searchcontainer">
<p>Rate The Search</p>
<form action="/model.py" method="get"> <!-- action specifies where to send the form data when the form is submitted-->
<!-- I think we want to send the form data to the model so that's why I put model.py but I don't really know what I am doing

Also right now when you try to rate the second thing it only wants to rate the first thing, so that's good (not)-->
<fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
</fieldset>
<br><br>
<input type="submit" value="Submit">
</form>
<br> <br> <br>
</div>
        {% endfor %}
      </div>
      <hr>
      <div>
        <a href="/">Home</a>
      </div>
      <div>
        <a href="/create_search">Create Search</a>
      </div>
      <div>
        <a href="/logout">Logout</a>
      </div>
      <div>
        <a id="delete" href="/delete-account">Delete Account</a>
      </div>
   </body>
</html>
